
interesting_offsets.txt
image_frames/*.png
test_clips/*.png
image_frames/.bmp
test_clips/*.bmp

DaD-Market-Analytics/
image_01.png
test.png
test.json
dad_store_feed.mkv
api.env
scratch
secrets.txt
*.bmp
*.bmp
image_frames/image_0.bmp
image_frames/image_1.bmp
New folder/stuff.png
New folder/stuff.xcf
New folder/296091826-0d0bfe3e-89df-4570-aaae-8a97c5d0c21e.png
New folder/295782140-c544d727-bd97-480a-a5c3-de0fd9cea7e9.png
New folder/295782043-aa433bb1-6f8e-4449-91d5-74e20b03cd23.png
image_frames/image_1.bmp
image_frames/image_0.bmp
__pycache__/constants.cpython-310.pyc
py2exe-0.13.0.1-cp311-cp311-win_amd64.whl
